*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    font-size: 62.5%;
    
}
body{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.header{

    background-color: green;
    align-items: center;
    display: flex;
    font-size: 2rem;
    width: 100%;
    height: 10rem;

}

.header h1{


    color: white;
    margin-left: 2rem;
    
}

.blogContainer{

    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    height: 50rem;
    margin-top: 4rem;
    padding: 2rem;
    width: 80%;
}

.blogContainer p{

    color: grey;
}

.blogContainer h1 {

    font-size: 3rem;
    margin-bottom: 5rem;
}